obj
objfre
objchk
build.log
buildfre.log
buildchk.log
build.wrn
buildfre.wrn
buildchk.wrn
build.err
buildfre.err
buildchk.err

/siz_*.cmd
/profiles/user/*
/src/build.dat
/tools/amd64/idw/*
/tools/x86/idw/*
