#include <windows.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "OpenNT Image Helper"
#define VER_INTERNALNAME_STR        "dbghelp.dll"
#define VER_ORIGINALFILENAME_STR    "dbghelp.dll"

#include <dbgver.h>
